# Reown AppKit Project ID (Get it from https://cloud.reown.com/)
NEXT_PUBLIC_REOWN_PROJECT_ID=your_reown_project_id_here
POSTGRES_PRISMA_URL=""
POSTGRES_URL_NON_POOLING=""
NEXT_PUBLIC_DEFAULT_CHAIN_ID=56 # 97 bsc testnet
JINA_API_KEY=""

# cloudflare R2
R2_ENDPOINT=""
R2_ACCESS_KEY_ID=""
R2_SECRET_ACCESS_KEY=""
R2_BUCKET_NAME=""
R2_PUBLIC_DOMAIN=""

# Cloudflare Turnstile
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

# Upstash Redis
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=